 #patient-count-box {
     background-color: #c8ecec;
}
.btn:hover {
    color: #ffffff;
    background-color: #d81d38;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #d81d38;
}
.btn-default.active:hover {
    color: #ffffff;
    background-color: #d81d38;
}
 .filter-search-row {
     background-color: #c8ecec;
}

 .filter-search {
     background-color: #c8ecec;
 }
 .logo-img {
     max-height: 80px;
     max-width: 275px;
	 width: auto;
}
 
 .header-btn {
     top: 40px;
     border-radius: 0px;
     background-color: light-gray;
     border: none;
     color: black;
}

.picsure-border-frame {
    border: 2px solid #c8ecec;
}
.subcat-row {
    background-color: #c8ecec;
}
.autocomplete-term-parent {
	color: #000000;
}
.search-btn {

     background-color: #4a90e2;
     color: white;
     border-radius: 0px;
}


a {
    color: #000000;
    text-decoration: none;
}

.btn-info {
    color: #000000;
    background-color: #eae7de;
    border-color: #eae7de;
}




