.header-btn {
     top: 40px;
     border-radius: 0px;
     background-color: light-gray;
     border: none;
     color: black;
}

.search-btn {
     background-color: #4a90e2;
     color: white;
     border-radius: 0px;
}
